.table-container {
  display: flex;
}

.bold-text {
  font-weight: bold;
}

.subtotal-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

thead {
  font-size: 28px;
}
