.table-container {
  display: flex;
}

.bold-text {
  font-weight: bold;
}

.button {
  justify-content: flex-end;
}

.proceed-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
