.my-row {
  border-bottom: 1px solid #000000;
}

.quantity-input {
  width: 30px;
  height: 30px;
}

.delete-product {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.trash-image {
  width: 50px;
}

.my-row th,
.my-row td {
  padding: 10px;
}
