.trash-image {
  width: 50px;
}

.product-image {
  width: 50px;
}

.image-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-row {
  border-bottom: 1px solid #ccc; /* Linje under hver række */
}

.quantity-input {
  width: 50px;
  padding: 5px;
}

.delete-product {
  background-color: transparent; /* Gennemsigtig baggrundsfarve */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.trash-image {
  width: 30px;
  background-color: white; /* Hvid baggrundsfarve */
  border-radius: 50%; /* Gør det rundt */
}

.my-row th,
.my-row td {
  padding: 30px; /* Tilføjet 30px padding til overskrifts- og data-celler for at skabe space*/
}
