.container {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 500px;
  border-style: solid;
  border-spacing: 100px;
}

.product-desc {
  flex: 1;
}

.product-image {
  max-width: 100px;
}

.quantity {
}
