.title-cart {
  color: #faf8f8;
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  background-color: rgb(8, 52, 88);
  font-size: 40px; /* Gør teksten større */
  margin-top: 35px; /* Rykker elementet nedad */
}
